{% extends 'base.html' %}

{% block title %}Book Club Library{% endblock %}

{% block content %}
    <hr>
    <h2>Book Club Library</h2>
    <ul>
        {% for book in books %}
            <li>
                <b><a href="{% url 'bookclub:book_detail' book.pk %}">{{ book.title }}</a></b>
                by {{ book.author }} ({{ book.publication_year }})
                <br>
                Genre: <b>{{ book.genre.name }}</b>
            </li>
        {% empty %}
            <li>No books yet.</li>
        {% endfor %}
    </ul>
{% endblock %}